.bgParallax { 
 color:#FFF; 
 margin: 0 auto; 
 width: 100%; 
 max-width: 1920px; 
 position: relative; 
 min-height: 100%; 
 text-shadow:0 0 10px rgba(0,0,0,0.7); 
 background-position: 50% 0; background-repeat: repeat; background-attachment: fixed; }
  /* Define backgrounds of divs */ 

  #aboutus {
    background-image: url(../images/blinds.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  #mission { 
    background-image: url(../images/camera2.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat; 
    -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    } 
    #contact {
      background-image: url(../images/pier2.jpg); 
      background-position: center;
      background-repeat: no-repeat;

    }
    /** Format article **/ .bgParallax article { 
      width: 70%; 
      text-align: center; 
      margin:0 auto; 
      padding:20% 0 0; 
      } 
      /** format text **/ 

      article h1 {
        font-size:40px;
        } 
      article p {
        line-height: 30px; font-size:20px; margin-top:15px;
        } 
      article p a {
        color:#FFF; text-decoration:none; font-size:30px;
        }

