$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'variables';
@import 'utilities';
@import 'components';
@import 'header';
@import 'footer';

$orange: #FB8C00;
$pinkish: #F40051;

body {
  background-color: black;
}

.container {
  padding-top: 15px;
  max-width: 850px;
  @media screen and (max-width: $screen-xs-max) {
    padding-top: 0;
  }
}

.logo {
  height: 250px;
  width: auto;
}

.parallax {
  background-image: url('./images/camera.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


